<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Health Care Dashboard</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="left-panel">
      
        <img src="logo.png" alt="Logo" class="logo" />
        <nav class="menu">
          <button class="active">Home</button>
          <button>Doctors</button>
          <button>Nurses</button>
          <button>Indoor Patients</button>
          <button>Out Door Patients</button>
        </nav>
      
    </div>

    <div class="right-panel">
      <main class="dashboard">
        <div class="card">
          <h3>Available Doctors</h3>
          <img src="doctors.png" alt="Doctors Icon" />
          <p>Total <span>22</span></p>
        </div>
        <div class="card">
          <h3>Available Nurses</h3>
          <img src="nurse.png" alt="Nurses Icon" />
          <p>Total <span>107</span></p>
        </div>
        <div class="card">
          <h3>Indoor Patients</h3>
          <img src="patince.png" alt="Indoor Icon" />
          <p>Total <span>3,075</span></p>
        </div>
        <div class="card">
          <h3>Outdoor Patients</h3>
          <img src="patince.png" alt="Outdoor Icon" />
          <p>Total <span>10,325</span></p>
        </div>
      </main>
    </div>
  </body>
</html>
